﻿@using Rendimientos_Web.Models;


@model sp_GetPerformance_Result

    <div id="resultsLabelPrint">
        <table id="tableLabelPrint" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
            <thead>                
                <tr>                    
                    <th class="text-center">Producto</th>
                    <th class="text-center">Proceso </th>
                    <th class="text-center">Código Colaborador</th>
                    <th class="text-center">Colaborador</th>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Hora</th>
                    <th class="text-center">Calidad</th>
                    <th class="text-center">Cant. Tallos</th>
                </tr>
            </thead>
            <tbody>                   
                    @foreach (var template in ViewBag.Performance_List)
                    {
                        <tr>
                            <td>@template.Producto</td>
                            <td>@template.Proceso</td>
                            <td>@template.CodigoColaborador</td>
                            <td>@template.Empleado</td>
                            <td>@template.Fecha</td>
                            <td>@template.Hora</td>
                            <td>@template.Calidad</td>
                            <td>@template.Cantidadtallos</td>
                        </tr>
                    }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="7">Total General</th>
                    <td><label id="Total"></label></td>
                </tr>
            </tfoot>
        </table>
    </div>

